/* * {
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  } */

  html {
    
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 62.5%;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .subtle {
    color: rgb(0, 0, 0);
  }
  
  .main-card--cointainer {
    
    display: grid;
    grid-template-columns: repeat(5, minmax(20rem, 25rem));
    grid-gap: .4rem;
  
  }
  

  
  .card-container img {
    max-width:100%;
   
    
  }
  
  .card {
    background-color: rgb(255, 234, 229);
    padding: 1rem;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(75, 75, 75, 0.07);
    margin: 3rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
   align-items: center;
    width: 12vw;
    height: 250px;
   
  }
    /* height:35vh;
    width:10vw;
  } */
  
 
 
  

  .card-title {
    font-family: poppins;
    font-size: 1.5em;
    font-weight: 1000;
  
   
    text-align: center;
    text-transform: uppercase;
    
  }


  .card-tag {
    display: inline-block;
  
    padding: 0.5rem 1rem;
    background-color: rgb(255, 234, 229);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(75, 75, 75, 0.07);
    border: 0.1vh solid #aaa;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: #aaa;
    color: black;
  }
  
  .card-media {
    width:10em;
    height:10em;
    border-radius: 50%;
    
    margin:2em;
    
  }
  
  
  .parent-div{
    display: flex;
    flex-direction: row; 
  }
  @media (max-width: 1500px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(4, minmax(20rem, 50rem));
      grid-gap: 1rem;
      justify-content: space-around;
    }
    .card {
      padding: 1rem;
      border-radius: 1rem;
      width: 80%;
      height: 250px;
    }
  }
  @media (max-width: 1200px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(3, minmax(20rem, 50rem));
      grid-gap: 1rem;
      justify-content: space-around;
    }
    .card {
      padding: 1rem;
      border-radius: 1rem;
      width: 80%;
      height: 250px;
    }
  }

  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(4, minmax(20rem, 50rem));
      grid-gap: 1rem;
      margin:auto;
    }
  
    .card {
      margin-top: 40%;
      padding: 1rem;
      border-radius: 1rem;
      width: 80%;
      height: 250px;
      margin:10% 10%;
    }
    .parent-div{
      display: flex;
      flex-direction: column; 
    }

}
@media (max-width: 825px) {
  
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 50rem));
    grid-gap: .5rem;
    
  }
  .card {
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    height: 250px;
    margin:10% 10%;
  }
  
}
@media (max-width: 590px) {
  
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 50rem));
    grid-gap: .2rem;
    
  }
 
  .card {
   
    margin:12%;
  }
  
}
@media (max-width: 350px) {
  
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 50rem));
    grid-gap: .2rem;
    }
 
  .card {
   margin:12%;
  }
  
}
/* @media (max-width: 500px) {
  .main-card--cointainer {
    display: flex;
    flex-direction: column;
    
  }
  .card {
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    height: 50%;
   
    
   margin:5% 10%;
  }
} */

/*.....sidebar...*/
/* .sidebar {
  padding-top: 5rem;
  position: relative;
  
}

.sidebar h1 {
  padding-bottom: 20px;
  text-transform: capitalize;
} */




  /* ---------- Button styles ------------------ */
  
  
  /** button group styles **/
  .btn-group {
    width:40%;
   margin-left: 7rem;
    display: flex;
    flex-direction: column;
    position:sticky;

    align-items: center;
    
    text-transform: capitalize;
    
  }
  .btn-group__item {
    border: none;
    /* min-width: 6rem; */
    
    padding: 1rem 1rem;
    background-color:#ffffff;
    cursor: pointer;
    margin: 15px;
    font-size: 2rem;
    box-shadow: inset 0px 0px 0px -15px  rgb(7, 17, 71);
    transition: all 300ms ease-out;
    text-transform: capitalize;
  }
  
  .btn-group__item:hover,
  .btn-group__item:focus {
    color:  rgb(7, 17, 71);
    box-shadow: inset 0px -20px 0px -15px  rgb(7, 17, 71);
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color:  rgb(7, 17, 71);
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }


  .parent-container{
    display: flex;

  }