body .contactBody {
    width: 80%;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
  
           /* Additional CSS styles for the contact page container here */
     
}

body .contactBody .react-reveal {
    animation-duration: 2000ms !important;
}
body .contactBody h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
   /* identical to box height */
    color: #333;
}
body .contactBody h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
    color: #333;
}
body .contactBody h3 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2rem;
    color: #333;
}

body .contactForm form .inputHead {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    margin: 2.6875rem 0rem 1rem 0.125rem;
    color: #000;
}
body .contactForm form input {
    font-size: 2rem;
    line-height: 2.125rem;
    color: #828282;
    border: none;
    border-bottom: 1px solid #828282;
    width: 35rem;
    max-width: 100%;
}
body .contactForm form input:focus, body .contactForm form textarea:focus {
    outline: none;
}
body .contactForm form Button {
    max-width: 14rem;
    min-height: 4rem;
    background: #333;
    border-radius: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
   /* identical to box height */
    color: #fff;
}
body .contactForm form Button:hover {
    background: #000;
}
body .contactForm  {
    margin-left: 33%;
}
body .contactForm form textarea {
    width: 35rem;
    max-width: 100%;
    font-size: 1.8rem;
    line-height: 2.125rem;
    color: #828282;
    border: none;
    border: 1px solid #828282;
    padding: 1rem;
    border-radius: 1rem;
}
@media all and (max-width: 1200px) {
    body .contactForm h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 4.5rem;
       /* identical to box height */
   }
    body .contactForm .inputHead {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin: 2.6875rem 0rem 1rem 0.125rem;
        color: #000;
   }
    body .contactForm input {
        font-size: 1.4375rem;
        line-height: 2.125rem;
        color: #828282;
        border: none;
        border-bottom: 1px solid #828282;
   }
    body .contactForm [type="submit"] {
        height: 4rem;
        width: 13rem;
        background: #333;
        border-radius: 1.25rem;
        font-size: 1.4rem;
        color: #fff;
   }
}
 p{
    font-size: 1.7rem;
    line-height: 2.25rem;
    color: #828282;
 }
@media all and (max-width: 768px) {
    body .contactBody {
        width: 90% !important;
        margin: 2rem auto;
   }
    body .contactBody h1 {
        font-size: 2.5rem !important;
        font-weight: bold;
        text-align: center;
        font-family: poppins;
   }
    body .contactBody .mapContainer {
        height: 30vh;
   }
   body .contactForm  {
    margin-left: 0;
}
}
