


.dropdown {
  display:none;
}

@media (max-width: 998px) {
    .menu-item{
        display:none;
    }
 
   
    .dropdown{
        display:block;
        margin-top:2rem;
        text-align: center;
        width:100%;
        min-width:0px;
        
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        
        cursor: pointer;
        z-index: 1;
     
    }
   
}