/*  */


.dropdown {
  display:none;
}

@media (max-width: 998px) {
    .menu-item{
        display:none;
    }
 
   
    .dropdown{
        display:block;
        position: relative;
        margin-top:2rem;
        text-align: center;
        width:100%;
        min-width:0px;
        
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
     
        cursor: pointer;
        z-index: 1;
     
    }
    /* .dropdown-div{
        width:100%;
        
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;


    } */
}