@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

 @font-face {
	 font-family: 'Times New Roman';
	 src: url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');
}
 .nssLogo {
	 max-width: 100%;
	 height: auto;
	 display: inline-block;
	 margin-left: 0 !important;
}
 .navBarTop {
	 background-color: rgba(255, 255, 255, 0);
	 padding: 0 1rem 0;
	 width: 100%;
 }

  
  .sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 .top_link {
	
	 color: black;



	 border: none;
	 /* min-width: 6rem; */
	 
	 padding: 1rem 1rem;
	 
	 cursor: pointer;
	 margin: 3rem !important;
	 font-size: 2rem;
	 box-shadow: inset 0px 0px 0px -15px  rgb(7, 17, 71);
	 transition: all 300ms ease-out;
	 text-transform: capitalize;
}
 .top_link {
	 font-weight: bold;

}
.top_link:hover,
.top_link:focus {
  color:   rgb(7, 17, 71);
  box-shadow: inset 0px -20px 0px -15px   rgb(7, 17, 71);
}
.top_link:focus {
  outline: none;
}
.top_link:after {
  content: "✔️";
  margin-left: 0.5rem;
  display: inline-block;
  color:   rgb(7, 17, 71);
  position: absolute;
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.top_link--active:after {
  opacity: 1;
  transform: translatey(-2px);
}







 .logo {
	 font-family: "Times New Roman";
}
 .logo .nss {
	 font-size: 3.4rem;
	 color:black;
	
}
 .logo .bits {
	 font-size: 1.2rem;
	 color:black;
	 font-weight: 600;
	 line-height: 125%;
}
 @media all and (min-width: 992px) {
	 .brand {
		 margin-left: 2rem;
	}
	 .links_top {
		 margin-right: 2rem;
		 
	}

}
 @media all and (max-width: 600px) {
	 .logo {
		 width: 90%;
		 height: auto;
	}
	 .logo .nss {
		 font-size: 2.4rem;
	}
	 .logo .bits {
		 font-size: 0.8rem;
	}
}
 